body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 65.5%;
}

header {
    width: 100%;
    height: 8%;
    background: #F28662;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #backPage {
        position: absolute;
        left: 3%;
    }

    h2 {
        color: white;
    }
}

main {
    width: 100%;
    height: 82%;
    background: url("../img/listbackLmg.png") center center no-repeat/cover;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #materialTextAdd {
            width: 80%;
            margin-bottom: 20%;

            h3 {
                width: 100%;
                text-align: center;
                font-size: 1.1rem;
                color: #F5A61C;
                margin-bottom: 5%;

                span {
                    color: #707070;
                }
            }

            #metSearch {
                width: 90%;
                height: 35px;
                border: 1px #BABABA solid;
                border-radius: 10px;
                margin-bottom: 5%;
                padding: 0 5%;
                font-size: 0.9rem;
            }

            #materialSelect {
                width: 100%;
                height: 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                overflow: scroll;

                .radioBox {
                    width: 28%;
                    height: 35%;
                    margin: 2% 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input[type="radio"] {
                        display: none;
                    }

                    input[type="radio"]+span {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        background: #F5A61C;
                        border: 2px solid #F5A61C;
                        padding: 2% 4%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-weight: bold;
                        border-radius: 1000px;
                    }

                    input[type="radio"]:checked+span {
                        background: white;
                        color: #F5A61C;
                    }
                }

                .hide {
                    display: none;
                }

            }
        }

        #timeSetting {
            width: 80%;
            display: flex;
            flex-direction: column;

            h3 {
                width: 100%;
                text-align: center;
                font-size: 1.1rem;
                color: #F5A61C;
                margin-bottom: 5%;

                span {
                    color: #707070;
                }
            }

            #timeText {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 20%;

                label {

                    display: flex;
                    align-items: center;

                    margin: 0 3%;

                    select {
                        border: 1px solid #BABABA;
                        font-size: 0.9rem;
                    }

                    p {
                        font-size: 0.9rem;
                        margin-left: 10%;
                    }

                    &:nth-of-type(1) {
                        width: 25%;

                        select {
                            width: 80%;
                            padding: 5%;
                            text-align: center;

                            option {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        width: 15%;

                        select {
                            width: 80%;
                            padding: 5%;
                        }
                    }

                    &:nth-of-type(3) {
                        width: 15%;

                        select {
                            width: 80%;
                            padding: 5%;
                        }
                    }
                }
            }
        }

        #upLoad {
            width: 20%;
            height: 6%;
            border-radius: 1000px;
            color: white;
            font-size: 1rem;
            background: #F28662;
        }
    }

}