body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 65.5%;
}

header {
  width: 100%;
  height: 8%;
  background: #F28662;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header #backPage {
  position: absolute;
  left: 3%;
}

header h2 {
  color: white;
}

main {
  width: 100%;
  height: 82%;
  background: url("../img/listbackLmg.png") center center no-repeat/cover;
}

main form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form #materialTextAdd {
  width: 80%;
  margin-bottom: 20%;
}

main form #materialTextAdd h3 {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  color: #F5A61C;
  margin-bottom: 5%;
}

main form #materialTextAdd h3 span {
  color: #707070;
}

main form #materialTextAdd #metSearch {
  width: 90%;
  height: 35px;
  border: 1px #BABABA solid;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 0 5%;
  font-size: 0.9rem;
}

main form #materialTextAdd #materialSelect {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: scroll;
}

main form #materialTextAdd #materialSelect .radioBox {
  width: 28%;
  height: 35%;
  margin: 2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main form #materialTextAdd #materialSelect .radioBox input[type="radio"] {
  display: none;
}

main form #materialTextAdd #materialSelect .radioBox input[type="radio"] + span {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #F5A61C;
  border: 2px solid #F5A61C;
  padding: 2% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 1000px;
}

main form #materialTextAdd #materialSelect .radioBox input[type="radio"]:checked + span {
  background: white;
  color: #F5A61C;
}

main form #materialTextAdd #materialSelect .hide {
  display: none;
}

main form #timeSetting {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form #timeSetting h3 {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  color: #F5A61C;
  margin-bottom: 5%;
}

main form #timeSetting h3 span {
  color: #707070;
}

main form #timeSetting #timeText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20%;
}

main form #timeSetting #timeText label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3%;
}

main form #timeSetting #timeText label select {
  border: 1px solid #BABABA;
  font-size: 0.9rem;
}

main form #timeSetting #timeText label p {
  font-size: 0.9rem;
  margin-left: 10%;
}

main form #timeSetting #timeText label:nth-of-type(1) {
  width: 25%;
}

main form #timeSetting #timeText label:nth-of-type(1) select {
  width: 80%;
  padding: 5%;
  text-align: center;
}

main form #timeSetting #timeText label:nth-of-type(1) select option {
  width: 100%;
  text-align: center;
}

main form #timeSetting #timeText label:nth-of-type(2) {
  width: 15%;
}

main form #timeSetting #timeText label:nth-of-type(2) select {
  width: 80%;
  padding: 5%;
}

main form #timeSetting #timeText label:nth-of-type(3) {
  width: 15%;
}

main form #timeSetting #timeText label:nth-of-type(3) select {
  width: 80%;
  padding: 5%;
}

main form #upLoad {
  width: 20%;
  height: 6%;
  border-radius: 1000px;
  color: white;
  font-size: 1rem;
  background: #F28662;
}
/*# sourceMappingURL=listAdd.css.map */